<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Camera</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Display Webcam Stream</h1>
        <div id="container">
            <video autoplay="true" id="videoElement"></video>
        </div>
        <div id="emotionResult"></div>
        <script>
            let video = document.querySelector("#videoElement");
            let emotionResult = document.getElementById('emotionResult');

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                        setInterval(captureImage, 2000);
                    })
                    .catch(function (error) {
                        console.log("Something Wrong!!");
                    });
            } else {
                console.log("getUserMedia not supported");
            }

            function captureImage() {
                let canvas = document.createElement('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                let context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                let dataURL = canvas.toDataURL('image/jpeg');
                
                fetch('/predict', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ image: dataURL })
                })
                .then(response => response.json())
                .then(data => {
                    emotionResult.innerHTML = `Detected Emotion: ${data.emotion}`;
                    if (data.done) {
                        clearInterval(captureInterval);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            
            let captureInterval = setInterval(captureImage, 2000);
        </script>
    </body>
</html>
